<div class="col-lg-3">
    <br/>
    <br/>
    <br/>
    <br/>

        <div class="well">
    <h4>Blog Search</h4>
    <div class="input-group">
    <input type="text" class="form-control">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
    </div>

    </div>

    <!-- /well -->
    <div class="well">
        <h4>Links from the Web</h4>
        <div class="row">
            <div >
                <ul class="list-unstyled">
                    <li><a href="http://www.microsoft.com/enable/products/keyboard.aspx">Microsoft Keyboard Shortcuts</a>
                    </li>
                    <li><a href="http://support.apple.com/en-us/HT201236">Apple OSX Keyboard Shortcuts</a>
                    </li>
                    <li><a href="http://community.linuxmint.com/tutorial/view/45">Linux Mint Gnome Desktop</a>
                    </li>
                    <li><a href="{{ site.url }}/#random">Random</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /well -->
</div>
