<div class="row">
	<div class="col-lg-9">
		<h2>COMP B2 - Introduction to Computer Information Systems</h2>
		<h3>FALL 2014</h3>
		<p>CRN: 70930 in Business 7 on TH from 6:00pm – 9:10pm</p>
		<p><b>Course Description:</b>
		Introduction to the concepts of computer information systems as problemsolving tools in business, economics, mathematics, and the sciences. Includes the history of computer system components, and sequential and directaccess processing. Database management systems, teleprocessing, and distributed processing are covered. An overview of personal computer applications software (word processing, electronic spreadsheets, and personal database management systems) is also included. Not open to students who have previously received credit for COMS B2, COMS B3,or COMP B3.</p>
		<p><b>Course Syllabus</b></br><a href="{{ site.url }}/bc/content/COMPB2Fall2014Syllabus.pdf">COMP B2 Fall 2014 Syllabus</a> </p>
		<p><b>Course Rules and Ettiquette</b></br><a href="{{ site.url }}/bc/content/Class RulesAndEttiquette.pdf">Do's and Don'ts</a> </p>


	</div>
</div>