<div class="row">
  <div class="col-lg-9">
    <h2>COMP B3 - Computer Concepts & Survival Skills</h2>
    <h3>SPRING 2015</h3>
    <p>CRN: 30931 in Business 2 on TH from 6:00pm – 9:10pm</p>
    <p><b>Course Description:</b>
      An introduction to computers and computer information systems as problem-solving and personal productivity tools. The focus of the course is to provide the practical computer skills and computer literacy that most computer users need to succeed in school, business and other endeavors. Topics include: networking and the Internet, e-commerce, ethical and societal implications of computer use, security, computer hardware and software. Emphasis is placed on hands-on projects that enhance productivity. Examples of these include: word processing, spreadsheets, backup, anti-malware, communications, multimedia and presentation, Email, web-based research, and operating systems. Not open to students who have previously received credit for COMS B2, COMS B3, COMP B2.
      </br>Course Corequisites: NONE</p>
      <p><b>Course Book ISBN</b></br></p>
      <p><b>Course Syllabus</b></br><a href="{{ site.url }}/bc/content/COMP B3 Spring 2015 Syllabus.pdf">COMP B3 Spring 2015 Syllabus</a> </p>
      <p><b>Course Rules and Ettiquette</b></br><a href="{{ site.url }}/bc/content/Class RulesAndEttiquette.pdf">Do's and Don'ts</a> </p>
      <p><b>Lab Assignments</b></br>
          <a href="{{ site.url }}/bc/content/COMP B3 Lab 1.pdf">Lab 1</a></p>


    </div>
  </div>
