       <header class="container">
          <div id="menu" class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
            <button class="btn btn-success navbar-toggle"
              data-toggle="collapse"
              data-target=".navbar-collapse"><span class="glyphicon glyphicon-chevron-down"></span></button>
            <div id="logo">
                <a href="{{ site.url }}"  class="navbar-brand">Hacker | EddieRangel.com</a>
            </div>
            </div>
            <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="home-menu" class="nav"><a href="{{ site.url }}/">Home</a></li>
                <li id="tags-menu" class="nav"><a href=".">Tags</a></li>
                <li id="categories-menu" class="nav"><a href="{{ site.url }}/categories">Categories</a></li>
                <li id="archives-menu" class="nav"><a href="{{ site.url }}/archives">Archives</a></li>                
                <li id="contact-menu" class="nav"><a href="{{ site.url }}/contact.html">Contact</a></li>
                <li id="bc-menu" class="nav"><a href="{{ site.url }}/bc">B.C.</a></li>
                <li id="github-menu" class="nav"><a href="https://github.com/erangeljr">Eddie on GitHub</a></li>
            </ul>                           
            </div>                 
          </div>   
          
        </header>

