       <header class="container">
          <div id="menu" class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
            <button class="btn btn-success navbar-toggle"
              data-toggle="collapse"
              data-target=".navbar-collapse"><span class="glyphicon glyphicon-chevron-down"></span></button>
            <div id="logo">
                <a href="."  class="navbar-brand">Hacker | EddieRangel.com</a>
            </div>
            </div>
            <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="home-menu" class="nav"><a href="{{ site.url }}/">Home</a></li>
                <li id="tags-menu" class="nav"><a href=".">Tags</a></li>
                <li id="categories-menu" class="nav"><a href=".">Categories</a></li>
                <li id="archive-menu" class="nav"><a href=".">Archive</a></li>
                <li id="experiments-menu" class="nav"><a href="{{ site.url }}/">Playtime</a></li>
                <li id="contact-menu" class="nav"><a href="{{ site.url }}/contact.html">Contact</a></li>
            </ul>                           
            </div>      
            <a href="https://github.com/erangeljr"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>   
          </div>   
          
        </header>