<div class="col-lg-4">
    <br/>
    <br/>
           <!-- Amazon Ad -->
       <iframe src="https://rcm-na.amazon-adsystem.com/e/cm?t=eddieracom-20&o=1&p=12&l=ur1&category=primeent&banner=032PM0C4EGZ3KFE57R82&f=ifr&lc=pf4" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>

    <br/>
    <br/>

        <div class="well">
    <h4>Blog Search</h4>
    <div class="input-group">
    <input type="text" class="form-control">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
    </div>

    </div>

    <!-- /well -->
    <div class="well">
        <h4>Popular Blog Categories</h4>
        <div class="row">
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li><a href="{{ site.url }}/#hacking">Hacking</a>
                    </li>
                    <li><a href="{{ site.url }}/#computerscience">Computer Science</a>
                    </li>
                    <li><a href="{{ site.url }}/#softwareengineering">Software Engineering</a>
                    </li>
                    <li><a href="{{ site.url }}/#random">Random</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <ul class="list-unstyled">
                    <li><a href="{{ site.url }}/#agile">Agile</a>
                    </li>
                    <li><a href="{{ site.url }}/#android">Android</a>
                    </li>
                    <li><a href="{{ site.url }}/#life">Life</a>
                    </li>
                    <li><a href="{{ site.url }}/#business">Business</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /well -->
    <div class="well">
        <h4>Hackers and Blogs</h4>
        <p>I've been in the technology industry for over a decade. I've grown professionally over the last 10 years and continue to look for ways to enhance my skill set. I'm interested in all kinds of technology including mobile, web, and gaming.</p> 
        <p>Follow me on.</p>
        <div class="row">
        <div class="col-lg-2" style="text-align:center;">
            <a href="https://twitter.com/eddie_31003" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @eddie_31003</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
           
        </div>
        <div class="col-lg-2" style="text-align:center;">
                <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                <script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/eddierangel" data-format="click" data-related="false"></script>
        </div>
        <div class="col-lg-2" style="text-align:center;">

            <!-- Place this code where you want the badge to render. -->
            <a href="//plus.google.com/108317612032964881047?prsrc=3"
                rel="publisher" target="_top" style="text-decoration:none;">
            <img src="//ssl.gstatic.com/images/icons/gplus-16.png" alt="Google+" style="border:0;width:16px;height:16px;"/></a>
        </div>

        </div>
        
    </div>  
    <!-- /well -->
   
 


        

</div>
